* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: #4da1a9;
}

.header {
  justify-content: center;
  margin-top: 20px;
}

.container {
  margin-top: 40px;
  width: 500px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 15px;
}

/*#formulario {

}*/

.values {
  margin-top: 10px;
}

.linesNumber {
  display: inline;
  vertical-align: middle;
}

.valor {
  display: inline;
  vertical-align: middle;
}

#produto {
  width: 400px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 10px;
}

#quantidade {
  padding: 10px;
  width: 40px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  text-align: center;
}

#preco{
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  text-align: center;
}

.salvar {
  margin-left: 55px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(14, 168, 96) ;
  cursor: pointer;
  color: white;
}

.submit:hover{
    background-color: rgb(12, 112, 79);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
